.git/
node_modules/
.dockerignore
*.log
deployment/*.Dockerfile
deployment/README.md
deployment/docker-compose.yaml
deployment/knative.yaml
deployment/otel-config.yaml
vendor/
!web/wp/index.php
!web/wp/wp-config.php
web/wp
!web/app/plugins/google-site-kit-dev-settings/*
!web/app/plugins/iap-auth-shield
web/app
.agents/
.vscode/