<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         beStrictAboutCoverageMetadata="false"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="remove-wp-default-link-header">
            <directory>web/app/plugins/remove-wp-default-link-header/tests</directory>
        </testsuite>
        <testsuite name="security-hardening">
            <directory>web/app/plugins/security-hardening/tests</directory>
        </testsuite>
        <testsuite name="iap-auth-shield">
            <directory>web/app/plugins/iap-auth-shield/tests</directory>
        </testsuite>
        <testsuite name="http-103-early-hints">
            <directory>web/app/plugins/http-103-early-hints/tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">web/app/plugins/remove-wp-default-link-header/src</directory>
            <directory suffix=".php">web/app/plugins/security-hardening/src</directory>
            <directory suffix=".php">web/app/plugins/iap-auth-shield/src</directory>
            <directory suffix=".php">web/app/plugins/http-103-early-hints/src</directory>
        </include>
    </source>
</phpunit>
